:root {
  --text-color: #f0f4f5;
  --backgroud-color: #262626;
  --accent-color: #d49466;
}

body {
  /* body의 margin을 0을 주지 않으면 html 끝에 살짝 공간이 남는다.  */
  margin: 0%;
  font-family: "Source Sans Pro";
}

/* 모든 a(앵커) 태그에 밑줄과 색이 변해있으니  */
a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  /* 중간에 spacing을 넣을 떄 중심축에서 넣기 때문에 space-betweend으로 중간중간ㄴ에 공간을 준다 */
  justify-content: space-between;
  /* 아이템들을 수직축으로 중간에 두고 싶다. 근데 반대 축이니까 align-items 사용 */
  align-items: center;
  background-color: #263343;

  /* 아이템들이 양 옆으로 붙어 있어서 위에는 8px, 양 옆에 12px을 준ㄴ다. */
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar_logo i {
  /* 로고 색 */
  color: var(--accent-color);
}
.navbar_menu {
  display: flex;
  /* list이기에 * * * 스타일이 들어가잇다. 이건  list-style: none;  으로 없앨 수 있다.*/
  list-style: none;
  /* 그리고 메뉴에 paddig이 들어가 있는데 이걸 없애는 건 아래와 같다. */
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  /* padding을 쓴것은 나중에 마우스를 올렷을 때 background를 조금 더 넓게 만들고 싶기 때문
margine을 쓰면 클릭하는역역이 작아지지만 padding은 박스안에 넣기에 마우스를 클릭할 공간이 넓어짐 */
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

/* 간격이 너무 붙어 있어 간격을 넣어본ㄴ다 */
.navbar_icons li {
  padding: 8px 12px;
}
/* 마우스가 hover되면색 변하게 하기  */
.navbar_menu li:hover {
  background-color: #d49466;
  border-bottom: 4px;
}

/* 햄버거 토글 버턴은 오른쪽 젤 위에 고정시키고 싶은데... 이럴 땐 position absolute를 사용한다. 
    그리고 기본적으로 display : none으로 해놓고 (화면에 안보이게) 화면이 작아지면 보이게끔 하자
  */

.navbar_toogleBtn {
  display: none;

  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

/* type은 screen 이다. 그리고 창이 작아질 때 아이템들이 아래로 떨어지게 하고 싶음
    또한 가운데 정렬이 아닌 왼쪽 정렬 을 위한 flex-start
*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  /* 한줄에 하나씩 나오게 끔하는 또한 중앙정렬로 맞추는 것
  근데 처음에는 아무런 반응이 없음 왜냐면 메뉴의 넓이가 작기 떄문 그렇기에 넓이를 100 %로 바꿔준다 
  */
  .navbar_menu {
    /* 밑으로 뻗는 메뉴가 화면이 버튼을 눌렸을 떄면 반응하게끔 하고 싶음 => 숨겨야지
 media 쿼리 안ㄴ에서는 display none!   이걸 모를 때는 자바스크립트로 한다. 
 */
    display: none;

    flex-direction: column;
    align-items: center;

    width: 100%;
    text-align: center;
  }
  /* 아이콘도 중간ㄴ으롭 바꾸는데  flex 방향은 바꾸지 않아야한다. 
  근데 중간으로 갓는데 왜 중간으로 안가지? 왜냐면 padding 떄문!!! */

  .navbar_icons {
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  /* 미디어 가 768 보다 작으며 기본적으로 메뉴, 아이콘은 보여지지 않는다. 
  하지만 토글이 active되면 보여주고 싶다. 그럼 */
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
